.wrapper {
    width: 40%;
    border: 2px solid grey;
    padding: 20px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.educations {
    background-color: rgba(194, 194, 194, 0.2);
    padding: 20px;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 20px;
}

.education {
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-word;
    span {
        font-weight: 700;
    }
}

.showMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.editLogo {
    position: absolute;
    top: 20;
    right: 20;
}