.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-out forwards;
}

.select__wrapper {
  display: flex;
  @media (max-width: 520px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.select__level {
  margin-top: 20px;
  @media (min-width: 521px) {
    margin-left: 20px;
  }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
