.ant-input-affix-wrapper,
.ant-input-number,
.ant-input,
.ant-select-selector,
.preview,
.ant-btn,
.question,
._date_1bf5u_1 {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }