.wrapper {
    width: 24%;
    border: 2px solid grey;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.projects {
    background-color: rgba(194, 194, 194, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.project {
    word-wrap: break-word;
    word-break: break-word;

    a {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
}

.showMore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editLogo {
    position: absolute;
    top: 20;
    right: 20;
}